h1 {
    padding-top:  100px;
    padding-left: 10%;
    color: antiquewhite;
}

.left{
    float:left;
    width:50%;
    margin:0% 3% 0% 10%;
    text-align: left;
}
.right{
    float:left;
    width:30%;
    margin:0% 3% 0% 3%;

}

.clear:after {
        content:'';
        display:block;
        clear:both;
      }
.lista{
    text-align: center;
}