<div class="lista">

        <div class=""style="padding-bottom:20px ;">
            <div class="left " style="font-weight: bold; padding-bottom: 10px;">Nazwa Produktu</div>
            <div class="right" style="font-weight: bold; padding-bottom: 10px;"> Ilość</div> 
        </div>

        <div class="clear" *ngFor="let s  of produktList" >
            
        <div class="left">{{s.name}}</div>
        <div class="right">{{s.ilosc}}</div>    
        </div>

</div>

<div class="container">
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="formFile" class="form-label">Skan kodu</label>
          <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile">
          <button (click)="this.upload()" type="button" class="btn btn-primary mt-3">Upload</button>
        </div>
      </div>
    </div>
</div>
<div>
  <app-add-product-to-list></app-add-product-to-list>
  <app-add-new-product-to-list></app-add-new-product-to-list>
</div>




